/inference_results

logs

/pretrained_model

saved_models

train_all_nbest.json

naive_mrc_task/infer_results/last_task/use_version_2/first_step/raw

naive_mrc_task/infer_results/last_task/use_version_1/first_step/raw

naive_mrc_task/infer_results/last_task/use_version_2/second_step/raw

naive_mrc_task/infer_results/last_task/use_version_1/second_step/raw